langchain 
langchain-community
langchain-openai
langchain-text-splitters
langgraph
tiktoken
unstructured
pypdf
packaging>=24.0
pdfplumber
jq
termcolor
langchain-experimental
ollama
langchain-ollama
langchain-chroma
rank_bm25
lark
tavily-python
ragas
flashrank
pydantic
langchain-unstructured
unstructured[pdf]
open-clip-torch
langchain-neo4j